:root {
    --yellow_light: #ffc439d8;
    --yellow_dark: #d9a732b2 ;
    --light_gray : #ccc;
    --dark_gray : #1C2833;
  }

*
{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}


.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    
  }

.topbar
{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: absolute;
    top: 0px;
    color: var(--light_gray);
    z-index: 100;
}


/* baritems  */

.baritems
{
    display: flex;
    align-items: center;
    justify-content: space-between   ;
    height: 100%;
    width: 100%;
}


.baritems .pages
{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    width: 20%;
    
}

.pages div{
    cursor: pointer;
}

.logo{
    font-size: 1.5rem;
    cursor: pointer;
}

.cart_acc
{
   
    padding-right: 100px;
    display: flex;
    justify-content: space-around;

}

.cart_acc div
{
    padding: 10px;
    cursor: pointer;
}


/* landing page  */

.landing
{
    width: 100%;
    height:100vh;
    background-image: url(./homepage.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex   ;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.landing_main
{
    margin-left: 100px;
    z-index: 10;
}

.img
{
    width: 100%;
    height:100vh;
    background-image: url(./landing_pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
  
}

.maintext
{
    color: var(--light_gray);
    z-index: 100;
    padding-top: 100px;

    
 
}
.maintext span{
    font-size: 5rem;
    text-transform: capitalize;
}

.maintext span:nth-child(3)
{
    /* text-transform: capitalize; */
}

.maintext span:nth-child(4)
{
    color: var(--yellow_light);
}
.brandingtext
{
    font-size: 1.5rem;
    color: var(--yellow_dark);
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.btn input
{
    padding-top: 20px;

    padding: 12px;
    outline: none;
    width: fit-content;
    background-color: transparent;
    border: solid 1px var(--yellow_light);
    color: var(--yellow_light);
    margin-top: 20px;
    cursor: pointer;
    transition: all .1s linear;
    border-radius: 5px;
    font-weight: 500;

}
.btn input:hover
{

    background-color: var(--yellow_light);
    color: black;
 

}

.container
{
    width: 100%;
    height: 100vh;
}