:root {
    --yellow_light: #ffc439d8;
    --yellow_dark: #d9a732b2 ;
    --light_gray : #ccc;
    --dark_gray : #1C2833;
  }

*
{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

.topbar
{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: absolute;
    top: 0px;
    color: var(--light_gray);
    z-index: 100;
}


/* baritems  */

.baritems
{
    display: flex;
    align-items: center;
    justify-content: space-between   ;
    height: 100%;
    width: 100%;
}


.baritems .pages
{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    width: 20%;
    
}

.pages div{
    cursor: pointer;
}

.logo{
    font-size: 1.5rem;
    cursor: pointer;
}

.cart_acc
{
   
    padding-right: 100px;
    display: flex;
    justify-content: space-around;

}

.cart_acc div
{
    padding: 10px;
    cursor: pointer;
}


/* landing page  */

.landing
{
    width: 100%;
    height:100vh;
    background-image: url(./homepage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img
{
    width: 100%;
    height:100vh;
    background-image: url(./landing_pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.maintext
{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 100%;
    height: 100vh;
}